# Movie Industry

## Three decades of movies.

<b><i>CONTEXT</i></b>

Okayyyy,did somebody say 'movies'? Of course, it's the title of this article, I'm sure you're hyped already,good to know ðŸ¤—.Who doesn't like to relax watching or seeing their favourite movie (s)? But what exactly is happening to the movie industry?  Why does it look like Netflix is taking over? These are the questions that led me to creating this data set focused on movie revenue and it's analysis over the decades.








<b><i>CONTENT</i></b>

There are 6820 movies in this dataset(220 movies per year,1986-2016). Each movie has the following characteristics:
* budget : the budget of a movie.Some movies don't have this,so it appears as '0'.
* company : the production company.
* country:
* director : the director of the movie.
* genre : genre of the movie.
* gross : revenue of the movie.
* name : name/title of the movie.
* rating : rating of the movie.
* release : date released(YYYY/MM/DD).
* runtime : duration of the movie.
* score : the movie's original song. 
* votes : number of votes.
* star : main actor/actress of the movie.
* writer : writer of the movie.
* year : year of release.


<b><b>DATA WRANGLING</b></b>


Before the visualisation and analysis of a dataset,data wrangling is done. What is data wrangling? <b>Data wrangling</b> is the process of gathering and transforming data to answer an analytical question.It is also known as <b>data cleaning</b>.
To carry out this operation,we use python(a programming language), with it's library that is specifically used for this process <i>'pandas'</i> which will be imported below as <i>'pd'</i>. After this,the dataset will be read into the program with <i>'read_csv'</i>.The dataset is a CSV file(Comma-seperated values).

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("movies.csv",engine='python')
df

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6815,0.0,Fox Searchlight Pictures,UK,Mandie Fletcher,Comedy,4750497.0,Absolutely Fabulous: The Movie,R,2016-07-22,91,5.4,Jennifer Saunders,9161,Jennifer Saunders,2016
6816,0.0,Siempre Viva Productions,USA,Paul Duddridge,Drama,28368.0,Mothers and Daughters,PG-13,2016-05-06,90,4.9,Selma Blair,1959,Paige Cameron,2016
6817,3500000.0,Warner Bros. Animation,USA,Sam Liu,Animation,3775000.0,Batman: The Killing Joke,R,2016-07-25,76,6.5,Kevin Conroy,36333,Brian Azzarello,2016
6818,0.0,Borderline Presents,USA,Nicolas Pesce,Drama,25981.0,The Eyes of My Mother,R,2016-12-02,76,6.2,Kika Magalhï¿½es,6947,Nicolas Pesce,2016
6819,0.0,Les Productions du Trï¿½sor,France,Nicole Garcia,Drama,37757.0,From the Land of the Moon,R,2017-07-28,120,6.7,Marion Cotillard,2411,Milena Agus,2016


Okayy,we now have our dataset.
Really,it wouldn't be nice to miss the null values in a dataset,so we have to check for it using <b><i> 'df.isnull().sum'</i></b>

In [3]:
df.isnull().sum()

budget      0
company     0
country     0
director    0
genre       0
gross       0
name        0
rating      0
released    0
runtime     0
score       0
star        0
votes       0
writer      0
year        0
dtype: int64

What a relief,there are <i>no null values</i>.We then proceed to checking the names of the companies that produced our favourite movie(s) with;'<b><i>df['company'].nunique</i></b>'

In [12]:
df['company'].unique()

array(['Columbia Pictures Corporation', 'Paramount Pictures',
       'Twentieth Century Fox Film Corporation', ...,
       'Anna Biller Productions', 'Siempre Viva Productions',
       'Borderline Presents'], dtype=object)

Aww,just look at that, companies that produced our favourite movies.
Also,we definitely do not want duplicate files in our dataset,so we check using <b><i>'df.duplicated().sum'</i></b>

In [5]:
df.duplicated().sum()

0

Amazing! such a beautiful dataset. There are no duplicate files. Let's check out the description of the dataset;<b><i>'df.describe()'</i></b>

In [6]:
df.describe()

,budget,gross,runtime,score,votes,year
count,6.820000e+03,6.820000e+03,6820.00000,6820.000000,6.820000e+03,6820.000000
mean,2.458113e+07,3.349783e+07,106.55132,6.374897,7.121952e+04,2001.000293
std,3.702254e+07,5.819760e+07,18.02818,1.003142,1.305176e+05,8.944501
min,0.000000e+00,7.000000e+01,50.00000,1.500000,2.700000e+01,1986.000000
25%,0.000000e+00,1.515839e+06,95.00000,5.800000,7.665250e+03,1993.000000
50%,1.100000e+07,1.213568e+07,102.00000,6.400000,2.589250e+04,2001.000000
75%,3.200000e+07,4.006534e+07,115.00000,7.100000,7.581225e+04,2009.000000
max,3.000000e+08,9.366622e+08,366.00000,9.300000,1.861666e+06,2016.000000

Now,we have the <i>mean,max,25%,50%</i> etc. We proceed to check our info using <b><i>'df.info'</i></b>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   budget    6820 non-null   float64
 1   company   6820 non-null   object
 2   country   6820 non-null   object
 3   director  6820 non-null   object
 4   genre     6820 non-null   object
 5   gross     6820 non-null   float64
 6   name      6820 non-null   object
 7   rating    6820 non-null   object
 8   released  6820 non-null   object
 9   runtime   6820 non-null   int64
 10  score     6820 non-null   float64
 11  star      6820 non-null   object
 12  votes     6820 non-null   int64
 13  writer    6820 non-null   object
 14  year      6820 non-null   int64
dtypes: float64(3), int64(3), object(9)
memory usage: 799.3+ KB

Alright,we now really know about our favourite movies, it's budget, companies that produced them etc.
Now we want to check the number of stars from our favourite movies using <b><i>'df['star'].nunique'</i></b>

In [23]:
df['star'].nunique()

2504